<div class="card bg-dark text-white my-2">
  <div class="card-header">
    {{ titulo }}
  </div>
  <div class="card-body">
    <form #organizacionForm="ngForm">
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" name="nombre" class="form-control" [(ngModel)]="organizacion.nombre" required minlength="4" #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div class="" *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div class="" *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Direción</label>
        <div class="col-sm-6">
          <input type="text" name="direccion" class="form-control" [(ngModel)]="organizacion.direccion">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Teléfono</label>
        <div class="col-sm-6">
          <input type="text" name="telefono" class="form-control" [(ngModel)]="organizacion.telefono" required minlength="4" #telefono="ngModel">
          <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <div class="" *ngIf="telefono.errors.required">
              Teléfono es requerido
            </div>
            <div class="" *ngIf="telefono.errors.minlength">
              Teléfono debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Código de Encriptación</label>
        <div class="col-sm-6">
          <input type="text" name="codigoEncriptacion" class="form-control" [(ngModel)]="organizacion.codigoEncriptacion" required minlength="4" #codigoEncriptacion="ngModel" maxlength="4">
        </div>
        <div class="alert alert-danger" *ngIf="codigoEncriptacion.invalid && (codigoEncriptacion.dirty || codigoEncriptacion.touched)">
          <div class="" *ngIf="codigoEncriptacion.errors.required">
            Código de encriptación es requerido
          </div>
          <div class="" *ngIf="codigoEncriptacion.errors.minlength">
            Código de encriptación debe de tener 4 caracteres
          </div>
        </div>
      </div>
      <div class="from-group row">
        <div class="col-sm-6">
          <button role="button" class="btn btn-primary" (click)='create()' *ngIf="!organizacion.id else elseBlock" [disabled]="!organizacionForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button role="button" class="btn btn-primary" (click)='update()' [disabled]="!organizacionForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
