<div class="card text-white bg-primary mb-3">
  <div class="card-header">Organizaciones</div>
  <div class="card-body">
    <h5 class="card-title">Listado de Organizaciones</h5>
    <div class="my-2 text-left">
      <button type="button" class="btn btn-rounded btn-success" [routerLink]="['/organizaciones/form']">Crear Organización</button>
    </div>
    <div class="alert alert-info" *ngIf="organizaciones?.length==0">
      No hay registros en la base de datos
    </div>
    <table class="table table-table-bordered table-striped" *ngIf="organizaciones?.length>0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Ver datos de la organización</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organizacion of organizaciones">
          <td>{{ organizacion.nombre}}</td>
          <td>
            <button type="button" name="ver" class="btn btn-success" data-toggle="modal" data-target="#validaCodigo" (click)="ver(organizacion)">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<button type="button" id="cerrarModal" name="cerrar" data-toggle="modal" data-target="#validaCodigo" style="display:none">Cerrar</button>
<button type="button" id="mostrarModalDatos" name="cerrar" data-toggle="modal" data-target="#modalDatos" style="display:none">Cerrar</button>
<div class="modal fade" id="modalDatos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos de la Organización</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-4">
        <div class="row">
          <div class="">
            Nombre: {{ nombre}}
          </div>
        </div>
        <div class="row">
          <div class="">
            Dirección: {{ direccion}}
          </div>
        </div>
        <div class="row">
          <div class="">
            Teléfono: {{ telefono}}
          </div>
        </div>
        <div class="row">
          <div class="">
            ID Externo: {{ idExterno}}
          </div>
        </div>
        <div class="row">
          <div class="">
            Código de Encriptación: {{ codigoEncriptacion}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="validaCodigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Introduzca el código de encriptación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <input type="password" name="codigoEncriptacion" id="codigoEncriptacionUsuario">
          </div>
          <div class="col-sm-6">
            <button type="button" name="ver" class="btn btn-success" data-toggle="modal" (click)="validar()" >Validar</button>
          </div>
        </div>
      </div>
      <input type="hidden" id="codigoUsuario">
    </div>
  </div>
</div>
